body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#upcoming-movies-container .upcoming-movie-card{
  display: flex;
  gap: 1rem;
}

#upcoming-movies-container .upcoming-movie-image{
  height: 8rem;
}

#upcoming-movies-container .upcoming-movie-title{
  margin-top: 0;
}

#upcoming-movies-container .upcoming-movie-review-button{
  cursor: pointer;
}



